.subscribe-btn{
        background-color: rgb(200, 0, 0);
        color: white;
        border: none;
        padding: 10px 16px;
        border-radius: 2px;
        cursor: pointer;
        margin-right: 8px;
        transition: opacity 0.15s;
        vertical-align: top;
    }

    .subscribe-btn:hover{
        opacity: 0.8;
    }

    .subscribe-btn:active{
        opacity: 0.5;
    }


    .join-btn{ 
        background-color: white;
        border-color: rgb(6, 95, 212);
        border-style: solid;
        border-width: 1px;
        color: rgb(6, 95, 212);
        padding: 9px 16px;
        border-radius: 2px;
        cursor: pointer;
        transition: background-color 0.15s,color 0.15s;
    }

    .join-btn:hover{
        background-color: rgb(6, 95, 212);
        color: white;
    }

    .join-btn:active{
        opacity: 0.7;
    }

    .tweet-btn{
        background-color: rgb(29, 155, 240);
        color: white;
        font-weight: bold;
        font-size: 15px;
        border: none;
        padding: 10px 16px;
        border-radius: 18px;
        margin-left: 8px;
        cursor: pointer;
        transition: box-shadow 0.15s;
        vertical-align: top;
    }

    .tweet-btn:hover{
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15)
    }