    p {
        font-family: Arial;
        margin-top: 0px;
    }

    .video-title{
       font-weight: bold;
       font-size: 18px;
       width: 300px;
       line-height: 24px;
       margin-bottom: 5px;
    }

    .video-stats{
        font-size: 14px;
        color: rgb(96, 96, 96);
        margin-bottom: 20px;
    }

    .video-author{
        color:rgb(96, 96, 96);
        font-size: 14px;
        margin-bottom: 20px;
    }

    .video-description{
        font-size: 14px;
        color:rgb(96, 96, 96);
        width: 280px;
        line-height: 22px;
        margin-bottom: 100px;
    }

    .apple-text{
        font-size: 14px;
        color: white;
        background-color: rgb(227, 65, 64);
        text-align: center;
        padding: 18px 10px;
    }


    .shop-link{
        cursor: pointer;
    }

    .shop-link:hover{
        text-decoration:underline;
    }